body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1090px;
  width:379px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u1623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  font-size:14px;
}
#u1623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:109px;
  width:92px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u1624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:109px;
  width:62px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
}
#u1625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1715px;
  height:888px;
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:167px;
  width:1715px;
  height:888px;
}
#u1627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1435px;
  height:742px;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:243px;
  width:1435px;
  height:742px;
}
#u1628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:742px;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:1685px;
  top:256px;
  width:222px;
  height:742px;
}
#u1629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1549px;
  height:47px;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:160px;
  width:1549px;
  height:47px;
}
#u1630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:180px;
  width:91px;
  height:37px;
}
#u1631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:1734px;
  top:274px;
  width:124px;
  height:100px;
}
#u1632_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u1634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u1634_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:76px;
  height:20px;
  color:#000000;
}
#u1636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u1636_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:92px;
  height:20px;
  color:#6CAEE9;
}
#u1638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u1638_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:124px;
  height:20px;
}
#u1640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u1640_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:60px;
  height:20px;
}
#u1642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:38px;
  height:20px;
}
#u1642_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:221px;
  width:72px;
  height:30px;
  font-size:14px;
}
#u1643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:264px;
  width:1396px;
  height:330px;
}
#u1645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1645_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:345px;
  word-wrap:break-word;
}
#u1646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:0px;
  width:349px;
  height:30px;
}
#u1646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:345px;
  word-wrap:break-word;
}
#u1647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:30px;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:0px;
  width:345px;
  height:30px;
}
#u1647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:341px;
  word-wrap:break-word;
}
#u1648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:0px;
  width:353px;
  height:30px;
}
#u1648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:349px;
  height:30px;
}
#u1649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:345px;
  word-wrap:break-word;
}
#u1650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:30px;
  width:349px;
  height:30px;
}
#u1650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:30px;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:30px;
  width:345px;
  height:30px;
}
#u1651_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:341px;
  word-wrap:break-word;
}
#u1652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:30px;
  width:353px;
  height:30px;
}
#u1652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:349px;
  height:30px;
}
#u1653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:345px;
  word-wrap:break-word;
}
#u1654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:60px;
  width:349px;
  height:30px;
}
#u1654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:30px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:60px;
  width:345px;
  height:30px;
}
#u1655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:341px;
  word-wrap:break-word;
}
#u1656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:60px;
  width:353px;
  height:30px;
}
#u1656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:349px;
  height:30px;
}
#u1657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:345px;
  word-wrap:break-word;
}
#u1658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:90px;
  width:349px;
  height:30px;
}
#u1658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:30px;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:90px;
  width:345px;
  height:30px;
}
#u1659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:341px;
  word-wrap:break-word;
}
#u1660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:90px;
  width:353px;
  height:30px;
}
#u1660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:349px;
  height:30px;
}
#u1661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:345px;
  word-wrap:break-word;
}
#u1662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:120px;
  width:349px;
  height:30px;
}
#u1662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:30px;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:120px;
  width:345px;
  height:30px;
}
#u1663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:341px;
  word-wrap:break-word;
}
#u1664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:120px;
  width:353px;
  height:30px;
}
#u1664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:349px;
  height:30px;
}
#u1665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:345px;
  word-wrap:break-word;
}
#u1666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:150px;
  width:349px;
  height:30px;
}
#u1666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:30px;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:150px;
  width:345px;
  height:30px;
}
#u1667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:341px;
  word-wrap:break-word;
}
#u1668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:150px;
  width:353px;
  height:30px;
}
#u1668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:349px;
  height:30px;
}
#u1669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:345px;
  word-wrap:break-word;
}
#u1670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:180px;
  width:349px;
  height:30px;
}
#u1670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:30px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:180px;
  width:345px;
  height:30px;
}
#u1671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:341px;
  word-wrap:break-word;
}
#u1672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:180px;
  width:353px;
  height:30px;
  text-align:right;
}
#u1672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:349px;
  word-wrap:break-word;
}
#u1673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:349px;
  height:30px;
}
#u1673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:345px;
  word-wrap:break-word;
}
#u1674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:210px;
  width:349px;
  height:30px;
  text-align:right;
}
#u1674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:345px;
  word-wrap:break-word;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:30px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:210px;
  width:345px;
  height:30px;
}
#u1675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:341px;
  word-wrap:break-word;
}
#u1676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:210px;
  width:353px;
  height:30px;
  text-align:right;
}
#u1676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:349px;
  word-wrap:break-word;
}
#u1677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:349px;
  height:30px;
}
#u1677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:345px;
  word-wrap:break-word;
}
#u1678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:240px;
  width:349px;
  height:30px;
  text-align:right;
}
#u1678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:345px;
  word-wrap:break-word;
}
#u1679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:30px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:240px;
  width:345px;
  height:30px;
}
#u1679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:341px;
  word-wrap:break-word;
}
#u1680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:240px;
  width:353px;
  height:30px;
}
#u1680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:349px;
  height:30px;
}
#u1681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:345px;
  word-wrap:break-word;
}
#u1682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:270px;
  width:349px;
  height:30px;
}
#u1682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:30px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:270px;
  width:345px;
  height:30px;
}
#u1683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:341px;
  word-wrap:break-word;
}
#u1684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:270px;
  width:353px;
  height:30px;
}
#u1684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:349px;
  height:30px;
}
#u1685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:345px;
  word-wrap:break-word;
}
#u1686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:30px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:300px;
  width:349px;
  height:30px;
}
#u1686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:30px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:300px;
  width:345px;
  height:30px;
}
#u1687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:300px;
  width:353px;
  height:30px;
}
#u1688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:266px;
  width:346px;
  height:25px;
}
#u1689_input {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1689_input:disabled {
  color:grayText;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:327px;
  width:344px;
  height:25px;
}
#u1690_input {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1690_input:disabled {
  color:grayText;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:507px;
  width:346px;
  height:25px;
}
#u1691_input {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1691_input:disabled {
  color:grayText;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:446px;
  width:344px;
  height:25px;
}
#u1692_input {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u1692_input:disabled {
  color:grayText;
}
#u1693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:543px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u1694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:513px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u1695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:482px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u1696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:453px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u1697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:424px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u1698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:362px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u1699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:334px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u1700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:304px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u1701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:275px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u1702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:335px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u1703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:364px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u1704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:394px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u1705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:455px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u1706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:484px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u1707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:514px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u1708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:545px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u1709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:29px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:564px;
  width:384px;
  height:29px;
}
#u1709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:357px;
  width:344px;
  height:27px;
}
#u1710_input {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u1710_input:disabled {
  color:grayText;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:386px;
  width:344px;
  height:27px;
}
#u1711_input {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u1711_input:disabled {
  color:grayText;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:416px;
  width:344px;
  height:27px;
}
#u1712_input {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u1712_input:disabled {
  color:grayText;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:386px;
  width:344px;
  height:27px;
}
#u1713_input {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u1713_input:disabled {
  color:grayText;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:416px;
  width:344px;
  height:27px;
}
#u1714_input {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u1714_input:disabled {
  color:grayText;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:536px;
  width:344px;
  height:27px;
}
#u1715_input {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u1715_input:disabled {
  color:grayText;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:536px;
  width:344px;
  height:27px;
}
#u1716_input {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u1716_input:disabled {
  color:grayText;
}
#u1717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:267px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:202px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:1734px;
  top:272px;
  width:157px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:1728px;
  top:294px;
  width:157px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:94px;
  width:150px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:60px;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:163px;
  width:305px;
  height:60px;
}
#u1722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:184px;
  width:62px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u1723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#199ED8;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:184px;
  width:62px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#199ED8;
}
#u1724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:168px;
  width:150px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
